* {
    box-sizing: border-box;
    /* border: 1px solid lime !important; */
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    overflow: hidden;
}

ul, ol {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

img, video {
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 770px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.container > div[class$="content"] {
    height: 100%;
}
